body {
  margin: 0px;
}

h1 {
  font-family: "Shrikhand";
}

h2 {
  font-family: "Roboto";
  font-size: 1.2em;
  font-weight: bold;
}

p, ul, li, .nbre, figure, figcaption, footer {
  font-family: "Roboto";
  font-size: 1em;
}

.main-presentation {
  background: #F2F2F2;
  padding-bottom: 30px;
  padding-top: 2px;
}

.title-main, .paragraph-main {
  text-align: center;
}

.section-fonctn {
  margin-bottom: 50px;
}

.title-fonctn {
  padding-left: 20px;
}

.bloc-fonctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background: #F2F2F2;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px #dadada;
          box-shadow: 5px 5px 5px #dadada;
  width: 300px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.bloc-fonctn.store-fonctn {
  background: #f2eafb;
}

.section-restaurants {
  background: #F2F2F2;
  padding-bottom: 50px;
  margin-bottom: 0px;
}

.title-restaurants {
  padding: 20px 0px 0px 20px;
}

.logo-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo-header .logo-img {
  width: 150px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

figure a {
  cursor: pointer;
  color: #000000;
}

figure {
  width: 300px;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 5px 5px 5px #dadada;
          box-shadow: 5px 5px 5px #dadada;
  margin-left: auto;
  margin-right: auto;
}

figure img {
  width: 300px;
  height: auto;
  border-radius: 20px 20px 0px 0px;
}

figcaption {
  width: 280px;
  height: 40px;
  border-radius: 0px 0px 20px 20px;
  background: white;
  padding: 10px;
  margin-top: -5px;
}

.nbr-circle {
  background: #9356DC;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-family: 'Roboto';
  left: -7px;
  position: relative;
  font-weight: normal;
}

.mobile, .list {
  color: #818181;
}

.store {
  color: #9356DC;
}

.mobile, .list, .store {
  padding: 20px;
}

/*Main - formulaire recherche ville */
.linear-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#b4b4b4), to(#dadada)) no-repeat;
  background: linear-gradient(to bottom, #b4b4b4, #dadada) no-repeat;
  height: 7px;
}

.form-recherche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #dadada;
  padding: 5px 0px 10px 0px;
}

#form-picto {
  margin-left: 45px;
  padding: 5px 0px 0px 10px;
}

#form-text {
  border: hidden;
  font-weight: bold;
  color: #000000;
  font-family: "Roboto";
  width: 100%;
  outline-style: none;
  background-color: #dadada;
  padding: 5px 0px 10px 0px;
  padding: 5px 0px 0px 10px;
}

/* supprimer bordure au clic */
.btn {
  display: block;
  padding: 10px;
  border-radius: 20px;
  border: hidden;
  -webkit-box-shadow: 5px 5px 5px #dadada;
          box-shadow: 5px 5px 5px #dadada;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  outline-style: none;
}

.btn.btn-main {
  color: white;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

/* pour bouton main : 
affiner la transition
 */
footer {
  background: black;
  color: white;
  font-size: 0.8em;
}

.logo-footer {
  width: 90px;
  height: auto;
  padding-top: 20px;
  padding-left: 20px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

footer ul {
  list-style: none;
  padding-bottom: 20px;
  padding-left: 20px;
}

footer li {
  line-height: 1.8em;
}

.ustensils {
  padding-right: 10px;
}

.partners {
  padding-right: 5px;
}

li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

/* big spinner feuille chargement cf FA */
/*# sourceMappingURL=style.css.map */