/*Main - formulaire recherche ville */

.form-recherche
{
    display : flex;
    justify-content: center;
    @include background-form;
}
#form-picto
{
    margin-left: 45px;
    @include padding-form;
}
#form-text
{
    border:hidden;
    font-weight: bold;
    color : $color-text;
    font-family: "Roboto";
    width: 100%;
    outline-style: none;
    @include background-form;
    @include padding-form;
}

