body
{
    margin : 0px; 
}

h1
{
    font-family: "Shrikhand";
}

h2
{
    font-family: "Roboto";
    font-size: 1.2em;
    font-weight: bold;
}

p, ul, li, .nbre, figure, figcaption, footer
{ 
    font-family: "Roboto";
    font-size: 1em;
}

