
body
    {
        margin : 0px; 
    }  
h1
    {
        font-family: "Shrikhand";
        font-size: 1.6em;
            &.title-menu 
            {
                margin-bottom: 0px;
                position: relative;  
            }
    }

h2
    {
        font-family: "Roboto";
        font-size: 1.2em;
        font-weight: bold;
    }

p, ul, li, .nbre, figure, figcaption, .new 
    { 
        font-family: "Roboto";
        font-size: 1em;
    }

footer
{
    font-size: 0.8em;
}



