body
{
    margin : 0px; 
}

h1
{
    font-family: "Shrikhand";
    font-size: 1.8em;
        &.title-menu 
        {
            margin-bottom: 0px;
        }

}

h2
{
    font-family: "Roboto";
    font-size: 1.2em;
    font-weight: bold;
}

p, ul, li, .nbre, figure, figcaption, .new, .title-meal, footer
{ 
    font-family: "Roboto";
    font-size: 1em;
}

span
{
    position: absolute;
    right : 30px;
}