/*section fonctionnement : icones circle + texte */
.nbr-circle
{
    background : $color-primary;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align : center;
    color : white;
    font-family: 'Roboto';
    left : -7px;
    position: relative;
    font-weight: normal;
}

.mobile, .list, .store
{
    color : darken($color-block-form, 35%);
}

.mobile, .list, .store
{
    padding : 20px;
}

/* icone favori : coeur : index*/

.full-empty i
{
    position: absolute;
    transition: opacity 100ms;
}

.full-empty
{
    position: relative;
}

.heart
{
    position: relative;
    left : 250px;
    top : -35px; 
        &:hover
        {
            opacity : 0;
            transform-origin: top;
            transition-duration: 2s;
        }
        &.full
        {
            color: $color-primary;
            background: -webkit-linear-gradient($color-primary, $color-secondary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;   
        } 
        
        &.empty
        {
        background: $color-white; 
        color : $color-block-form;
        }
}

/* icone retour page menu x4*/
.return
{
    padding-top : 5px;
    padding-left : 50px;
    position : absolute;
    top : 10px;
    &:active
        {
            color: $color-primary ;
        }
    
}

/*icone favori : coeur : page menu */
.heart-menu
{
    padding-left: 10px;
}