/*section -> "fonctionnement" */
@media screen and (max-width : 9000px) 
{
    .section-fonctn 
    {
        margin-bottom: 50px;
    }

    .title-fonctn
    {
        padding-left: 20px;
    }

    .flex-fonctn
    {
        display: flex;
        justify-content: space-between;
    }
    .bloc-fonctn
    {
        display: flex;
        align-items: baseline;
        background: $color-block;
        border-radius: 20px;
        box-shadow: 5px 5px 5px $color-block-form;
        width : 300px;
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        cursor: pointer;
        &:hover
        {
            background: lighten($color-primary, 35%);
                .store, .mobile, .list
                {
                color : $color-primary;
                }
        }
    }

    /* icones circle + texte */

    .nbr-circle
    {
        background : $color-primary;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align : center;
        color : white;
        font-family: 'Roboto';
        left : -7px;
        position: relative;
        font-weight: normal;
    }

    .mobile, .list, .store
    {
        color : darken($color-block-form, 35%);
    }

    .mobile, .list, .store
    {
        padding : 20px;
    }


}
@media screen and (max-width : 1000px)
{
    .bloc-fonctn
    {
        width : 250px;
        margin-top: 20px;
    }
    .nbr-circle
    {
        left : 0px;
    }
    .mobile, .list, .store
    {
        padding: 5px;
    }
}

@media screen and (max-width : 767px)
{
    .flex-fonctn
    {
        display: flex;
        flex-direction: column;
    }

    .bloc-fonctn
    {
        width : 300Px;
        margin-top: 0px;
    }

    .nbr-circle
    {
        left : -7px;
    }
    .mobile, .list, .store
    {
        padding : 20px;
    }
}