body
{
    margin : 0px; 
}

h1
{
    font-family: "Shrikhand";
}

h2
{
    font-family: "Roboto";
    font-weight: bold;
}

p, ul, li 
{ 
    font-family: "Roboto";
}

.main-presentation 
{
    background: $color-block;
    padding-bottom : 30px;
    padding-top : 2px;
    
}

.title-main, .paragraph-main
{
    @include fontstyle-main;
}
