.loading
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top : 0px;
    left : 0px;
}

#indextoload 
{
    opacity: 1;
    animation-name: pagetoload;
    animation-duration: 1s;
    animation-delay:  5s ;
    animation-fill-mode:  both;  
}
  
@keyframes pagetoload 
{
    0% 
    {
      opacity: 0; 
    }
    90%
    {
        opacity: 0.8;
    }
    99%, 100% 
    {
      opacity: 1; 
    }
}

.spinner
        {
            display: none;
            color: $color-white;
            animation-name: loading-spinner;
            margin: 0px;
            animation-duration:  5s;
            animation-timing-function: linear; 
            animation-fill-mode: both;
        }

@keyframes loading-spinner
{
    0%
    {
        transform: rotate(0deg);
    }
    20%
    {
        color: $color-primary;        
    }
    40%
    {
        color: $color-secondary;
    }
    60% 
    {
        color: $color-tertiary;        
    }
    80%
    {
        opacity: 0.3;
        color : $color-primary;
    }
    99%, 100%
    { 
        opacity: 0;
        transform: rotate(360deg);
    }
}    

.loading-text
        {
            padding-top: 10px;
            font-size: 0.7em;
            margin : 0px;
            animation-name: loading-text;
            animation-duration: 5s;
            animation-timing-function: linear;
            animation-fill-mode: both;
        } 
 
@keyframes loading-text
{
    0%
    {
        color: $color-text;
        transform : scale(1); 
    }

    100%
    {
        color: $color-white;
        transform: scale(1.5);
    }
}










