@mixin background-form 
{
    background-color:$color-block-form;
    padding : 5px 0px 10px 0px;
}
@mixin padding-form
{
    padding: 5px 0px 0px 10px;
}

@mixin fontstyle-main
{
    text-align: center;
}

@mixin background-btn-main
{
    background :linear-gradient(170deg, $color-secondary, $color-primary);
}

