footer
{
    background:black;
    color: white;
    font-size: 0.8em;
}

.logo-footer
{
    width: 90px;
    height: auto;
    padding-top: 20px;
    padding-left: 20px;
    filter: invert(100%);
}

footer ul
{
    list-style: none;
    padding-bottom: 20px;
    padding-left: 20px;
}

footer li
{
    line-height: 1.8em;
    
}
.ustensils
{
    padding-right: 10px;
}

.partners
{
    padding-right : 5px;
}