
.logo-header
{
    display: flex;
    justify-content: center;
        .logo-img 
        {
            width: 150px;
            height: auto; 
            padding-top: 10px;
            padding-bottom: 10px;
        }
        
}

